// Footer / contact blurb
footer {
    background-color: $happyYellow;
    padding-top: 100px;
    text-align: center;
    div {
        display: flex;
        justify-content: center;
        position: relative;
    }
    h2 {
        padding-top: 100px;
        padding-bottom: 150px;
        max-width: 800px;
        width: 50%;
        pointer-events: none;
    }
    .circleOutline {
        position: absolute;
        width: 350px;
        top: 43%;
        left: 44%;
    }
    .footerNav {
        border-top: 1px solid $darkGreen;
        ul {
            display: grid;
            grid-template-columns: repeat(4, auto) 9fr;
            gap: 25px;
            padding: 20px 0 25px 0;
        }
        li {
            text-align: left;
        }
        li:last-of-type {
            text-align: right;
        }
    }
}