.headerNav {
    ul {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid $darkGreen;
    }

    li {
    display: flex;
    align-items: center;
    margin-top: 5px;
    }

    h4 {
    margin-left: 100px;
    }

    li:nth-child(2) {
    justify-content: center;
    }
    
    li:last-child {
    justify-content: flex-end;
    }
}

.fa-circle-notch {
    color: $happyYellow;
    font-size: 2.2rem;
}

.fa-grip-lines {
    color: $darkGreen;
    font-size: 2.5rem;
    margin-right: 100px;
}

.modal {
    display: none;
}

.visible {
    background: $backgroundColor;
    display: block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    .closeModal {
        position: absolute;
        top: 0;
        right: 0;
        margin: 50px 100px;
    }
    .closeModal::before {
        content: '';
        position: absolute;
        background-image: url('../assets/Circle.svg');
        background-repeat: no-repeat;
        display: block;
        width: 201px;
        height: 201px;
        top: -15px;
        left: -50px;
        background-size: 150px;
        }
    ul {
        margin: 50px 0 0 50px;
        h2 {
            position: relative;
        }
        // background colour circles
        li:first-of-type::before,
        li:last-of-type::after,
        li:nth-of-type(3)::after {
            content: '';
            position: absolute;
            border-radius: 100%;
            z-index: -1;
        }
        li:first-of-type::before {
            height: 300px;
            width: 300px;
            background-color: $babyGreen;
            top: -30%;
            left: -5%;
        }
        li:nth-of-type(3)::after {
            height: 500px;
            width: 500px;
            background-color: $darkSand;
            top: -30%;
            right: -5%;
        }
        li:last-of-type::after {
        height: 400px;
        width: 400px;
        background-color: $babyLilac;
        bottom: -30%;
        left: 10%;
        }
        // hover arrows
        li:first-child h2:first-child::after,
        li:nth-child(2) h2:first-child::before,
        li:nth-child(3) h2:first-child::before,
        li:last-child h2:first-child::before {
            content: '';
            position: absolute;
            background-image: url('../assets/ArrowPointRight.svg');
            background-repeat: no-repeat;
            display: block;
            width: 100px;
            height: 100px;
            background-size: 80px;
        }
        li:first-child h2:first-child::after {
            top: -40px;
            left: 220px;
            transform: rotate(120deg);
        }
        li:nth-child(2) h2:first-child::before {
            top: 20px;
            left: -100px;
            transform: rotate(290deg);
        }
        li:nth-child(3) h2:first-child::before {
            top: 65px;
            left: -80px;
            transform: scaleX(-1) rotate(180deg);
        }
        li:last-child h2:first-child::before {
            top: -50px;
            left: 400px;
            transform: rotate(120deg);
        }

        li:nth-of-type(2) {
            margin-left: 15%;
        }
        li:nth-of-type(3) {
            margin-left: 30%;
        }
        li:last-of-type {
            margin-left: 50%;
        }
    }
}