@font-face {
    font-family: 'Doppelganger';
    src: url('../assets/DoppelgangerDisplay.otf');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeue Regular.ttf')
}

// Headers
h1, h2, h3, h4 {
    font-family: 'Doppelganger', serif;
    text-transform: uppercase;
}

h1 {
    font-size: 28rem;
}

h2 {
    font-size: 11rem;
}

h3 {
    font-size: 6.4rem;
}

h4 {
    font-size: 3.4rem;
}

// Body text
p, .tagline {
    font-family: 'Roboto', sans-serif;
}

p {
   font-size: 1.6rem; 
}

.tagline {
    font-size: 1.4rem;
    line-height: 20px;
}