html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
p,
nav,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $darkGreen;
}

footer a:hover {
  color: white;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

// Color palette
body {
  background-color: $backgroundColor;
}

h1,
h2,
h3,
h4,
p {
  color: $darkGreen;
}

// Skip to Content Nav
.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  border: 1px solid black;
  .skipLink:focus {
    left: 0;
  }
}
