body.about {
    background: linear-gradient(90deg, #0081c6 50%, #0077bd 50%);
}

.about .headerNav {
    border-bottom: 1px solid $happyYellow;
    a,
    .fa-grip-lines {
        color: $happyYellow;
    }
}

// Header
header.about {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 90%;
    background-position-x: center;
}

// Main
main.about {
    background-color: $babyLilac;
    // height: 800px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    margin-top: -300px;
}

.titleName {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding-top: 150px;
}

.aboutInfo {
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    position: relative;
    img {
        width: 350px;
        border-radius: 150px;
    }
    p {
        display: flex;
        align-items: end;
        margin-bottom: 60px;
    }
    .arrowDown1,
    .arrowDown2 {
        position: absolute;
        width: 50px;
    }
    .arrowDown1 {
        top: 10%;
        right: 30%;
    }
    .arrowDown2 {
        top: 5%;
        right: 25%;
        transform: rotate(-10deg);
    }
}

.skillList {
    width: 62%;
    margin: 0 auto;
    text-align: center;
    ul {
        margin: 50px 0;
    }
    li {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.22fr;
        grid-template-rows: repeat(3, auto);
        margin: 0 auto;
        gap: 8px;
    }
}

h3:first-of-type {
    text-align: right;
}

.aboutLinks {
    ul {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 80px 0;
    text-align: center;
    position: relative;
    text-align: left;
    }
    .oneLink,
    .twoLink,
    .threeLink,
    .fourLink {
        position: relative;
    }
    .oneLink:hover::after,
    .twoLink:hover::after,
    .threeLink:hover::after,
    .fourLink:hover::after {
        content:url('../assets/Circle.svg');
        display: block;
        position: absolute;
        top: -15px;
        left: -40px;
    }
    .fourLink::after {
        left: 0px;
    }
}

// Media queries
@media (max-width: 1280px) {
    header.about {
        background-position-y: 300%;
    }
    main.about {
        .titleName {
            h2 {
                font-size: 9rem;
            }
        }
        .aboutInfo {
        width: 80%;
        }
        h3 {
            font-size: 5.5rem;
        }
        .aboutLinks ul {
            width: 70%;
        }
    }
}

@media (max-width: 1090px) {
    main.about {
        border-top-left-radius: 40%;
        border-top-right-radius: 40%;
        .aboutInfo {
            .arrowDown1 {
                top: 0;
            }
            .arrowDown2 {
                top: -5%;
            }
        }
        .skillList {
            width: 80%;
        }
    }
}

@media (max-width: 940px) {
    header.about {
        height: 70vh;
    }
    main.about {
        .aboutInfo {
            width: 90%;
            grid-template-columns: 0.8fr 1fr;
            .arrowDown1 {
                top: -15%;
                right: 25%;
            }
            .arrowDown2 {
                top: -20%;
                right: 20%;
            }
        }
        .skillList {
            width: 100%;
        }
        h3 {
            font-size: 4.3rem;
        }
    }
}

@media (max-width: 880px) {
    // About
    header.about {
        height: 70vh;
    }
    main.about {
        .aboutInfo {
            .arrowDown1 {
                top: -30%;
                right: 5%;
            }
            .arrowDown2 {
                top: -40%;
                right: 0;
            }
        }
        h3 {
            width: 100%;
            margin-bottom: 0;
        }
    }
}

@media (max-width: 768px) {
    main.about {
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
        .aboutInfo {
            grid-template-columns: 1fr;
            grid-template-rows: 2fr auto;
            .arrowDown1 {
                top: -10%;
            }
            .arrowDown2 {
                top: -15%;
            }
            img {
                margin: 0 auto;
            }
            p {
                align-items: start;
                margin-bottom: 0;
            }
            h3 {
                font-size: 3.5rem;
            }
        }
        .aboutLinks {
            p.fourLink {
                text-align: center;
            }
            ul {
                padding-top: 60px;
                grid-template-columns: repeat(2, 1fr);
                padding-top: 40px;
                li {
                    padding: 20px;
                    text-align: center;
                }
            }
            .oneLink:hover::after,
            .twoLink:hover::after,
            .threeLink:hover::after,
            .fourLink:hover::after {
                display: none;
            }
            .oneLink::after,
            .twoLink::after,
            .threeLink::after,
            .fourLink::after {
                position: absolute;
                content: '';
                background-color: $happyYellow;
                height: 2px;
                width: 50px;
                bottom: -8px;
                left: calc(50% - 25px);
                display: block;
            }
        }
    }
}

@media (max-width: 620px) {
    .titleName {
        padding-top: 100px;
    }
    .aboutInfo {
        img {
            width: 300px;
        }
    }
}

@media (max-width: 540px) {
    header.about {
        height: 80vh;
    }
    main.about {
        margin-top: -500px;
        .titleName h2 {
            font-size: 8rem;
        }
    }
    .skillList {
        li {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 450px) {
    main.about {
        h3 {
            font-size: 4rem;
        }
        .aboutLinks ul {
            padding-top: 40px;
        }
    }
}

@media (max-width: 415px) {
    main.about {
        .titleName h2 {
            font-size: 6.5rem;
        }
        .aboutInfo {
            .arrowDown1 {
                top: -5%;
            }
            .arrowDown2 {
                top: -8%;
            }
        }
        h3 {
            font-size: 3.8rem;
        }
    }
}