body.about {
    background: linear-gradient(90deg, #0081c6 50%, #0077bd 50%);
}

.about .headerNav {
    border-bottom: 1px solid $happyYellow;
    h4, .fa-grip-lines {
        color: $happyYellow;
    }
}

// Header
header.about {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 90%;
    background-position-x: center;
}

// Main
main.about {
    background-color: $babyLilac;
    // height: 800px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    margin-top: -300px;
}

.titleName {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding-top: 150px;
}

.aboutInfo {
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    position: relative;
    img {
        width: 350px;
        border-radius: 150px;
    }
    p {
        display: flex;
        align-items: end;
        margin-bottom: 60px;
    }
    .arrowDown1,
    .arrowDown2 {
        position: absolute;
        width: 50px;
    }
    .arrowDown1 {
        top: 10%;
        right: 30%;
    }
    .arrowDown2 {
        top: 5%;
        right: 25%;
        transform: rotate(-10deg);
    }
}

.skillList {
    width: 62%;
    margin: 0 auto;
    text-align: center;
    ul {
        margin: 50px 0;
    }
    li {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.22fr;
        grid-template-rows: repeat(3, auto);
        margin: 0 auto;
        gap: 8px;
    }
}

h3:first-of-type {
    text-align: right;
}

.aboutLinks {
    ul {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 80px 0;
    text-align: center;
    position: relative;
    text-align: left;
    }
    .oneLink,
    .twoLink,
    .threeLink,
    .fourLink {
        position: relative;
    }
    .oneLink:hover::after,
    .twoLink:hover::after,
    .threeLink:hover::after,
    .fourLink:hover::after {
        content:url('../assets/Circle.svg');
        display: block;
        position: absolute;
        top: -15px;
        left: -40px;
    }
    .fourLink::after {
        left: 0px;
    }
}