.contact {
    background-color: $sand;
}

main.contact {
    > h2 {
        margin: 100px 0 0 100px;
    }
    div {
        display: grid;
        grid-template-columns: 3fr 1fr;
        p {
            margin-top: 15px;
        }
    }
    h3.email {
        margin-top: 50px;
        text-align: center;
        position: relative;
    }
    h3.email::before,
    h3.email::after {
        content: '';
        position: absolute;
        display: block;
    }
    h3.email::before {
        background-image: url('../assets/ArrowPointRight.svg');
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        top: -50px;
        left: 80px;
        background-size: 80px;
        transform: scaleX(-1) rotate(90deg);
    }
    h3.email::after {
        background-color: $happyYellow;
        height: 2px;
        width: 60%;
        bottom: 0;
        left: 20%;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 70%;
        margin: 0 auto;
        text-align: center;
        margin-top: 90px;
        margin-bottom: 20px;
        li {
            position: relative;
        }
        .oneLink::after,
        .twoLink::after,
        .threeLink::after,
        .fourLink::after {
            position: absolute;
            content: '';
            background-color: $happyYellow;
            height: 2px;
            width: 50px;
            bottom: -5px;
            left: calc(50% - 25px);
            display: block;
        }
    }
}

// Media queries
@media (max-width: 1280px) {
    main.contact {
        h2 {
            font-size: 10rem;
        }
        h3.email::before {
            left: 0;
        }
        ul {
            width: 80%;
        }
    }
}

@media (max-width: 1090px) {
    main.contact {
        h2 {
            font-size: 8rem;
        }
        div {
            grid-template-columns: 2fr 1fr;
        }
        h3.email::before {
            width: 50px;
            height: 50px;
            background-size: 50px;
            top: -30px;
            left: -30px;
        }
    }
}

@media (max-width: 940px) {
    main.contact {
        .largeDisplay {
            display: none;
        }
        .smallDisplay {
            display: block;
            width: 100%;
        }
        > h2 {
            margin: 100px 0 0 0;
        }
        h3.email::before {
            left: -50px;
        }
        ul {
            width: 100%;
        }
        p.smallDisplay {
            width: 50%;
            margin: 0 auto;
            margin-top: 20px;
            text-align: center;
        }
    }
}

@media (max-width: 880px) {
    main.contact {
        h3 {
            font-size: 5rem;
        }
        h3.email::before {
            left: 0;
        }
    }
}

@media (max-width: 768px) {
    main.contact {
        h2 {
            font-size: 6rem;
        }
        h3 {
            font-size: 4rem;
        }
        h3.email::before {
            left: -5px;
        }
        h3.email::after {
            bottom: 0;
            left: 10%;
        }
        p.smallDisplay {
            width: 80%;
            margin-top: 50px;
        }
        ul {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin-bottom: 0;
            li {
                text-align: center;
            }
        }
    }
}

@media (max-width: 620px) {
    main.contact {
        h3.email::before {
            left: -40px;
        }
    }
}

@media (max-width: 540px) {
    main.contact {
        h3 {
            font-size: 3.5rem;
        }
        p.smallDisplay {
            width: 100%;
        }
    }
}

@media (max-width: 450px) {
    main.contact {
        > h2 {
            margin-top: 70px;
        }
        h3 {
            font-size: 3.2rem;
        }
        ul {
            margin-top: 60px;
        }
    }
}

@media (max-width: 415px) {
    main.contact {
        h2 {
            font-size: 5rem;
        }
        h3.email::before {
            left: -40px;
        }
        h3 {
            font-size: 2.8rem;
        }
        ul {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
}