.contact {
    background-color: $sand;
}

main {
    a:hover {
        color: white;
        }
    > h2 {
        margin: 100px 0 0 100px;
    }
    div {
        display: grid;
        grid-template-columns: 3fr 1fr;
        p {
            margin-top: 15px;
        }
    }
    h3.email {
        margin-top: 50px;
        text-align: center;
        position: relative;
    }
    h3.email::before {
        content: '';
        position: absolute;
        background-image: url('../assets/ArrowPointRight.svg');
        background-repeat: no-repeat;
        display: block;
        width: 100px;
        height: 100px;
        top: -50px;
        left: 80px;
        background-size: 80px;
        transform: scaleX(-1) rotate(90deg);
    }
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 40%;
        margin: 0 auto;
        text-align: center;
        margin-top: 110px;
        a {
            position: relative;
        }
        .oneLink:hover::after,
        .twoLink:hover::after,
        .threeLink:hover::after {
            content:url('../assets/Circle.svg');
            display: block;
            position: absolute;
            top: -8px;
            left: -70px;
        }
    }
}