@import '../layout/header';
@import '../layout/footer';

// Title landing
header.home {
    height: 100vh;
    h1 {
    margin-top: 25vh;
    }
    .purpleCircle,
    .yellowCircle {
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    }
    .purpleCircle {
    background-color: $babyLilac;
    height: 350px;
    width: 350px;
    top: -190px;
    right: 100px;
    }
    .yellowCircle {
    background-color: $happyYellow;
    height: 1000px;
    width: 1000px;
    top: 100px;
    left: -200px;
    }
    .arrowDown {
    position: absolute;
    height: 70px;
    right: 15%;
    bottom: 5%;
    }
}

// About blurb
.aboutBlurb {
    margin-top: 30%;
    margin-bottom: 18%;
}
.aboutLine1, .aboutLine2 {
    display: grid;
}
.aboutLine1 {
    grid-template-columns: 3fr 1.75fr;
    span {
        position: relative;
    }
    span::after {
        content: '';
        position: absolute;
        background-image: url('../assets/Circle.svg');
        background-repeat: no-repeat;
        display: block;
        width: 200px;
        height: 400px;
        top: -15px;
        left: -35px;
        background-size: 160px;
    }
    p:last-of-type {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: right;
        margin-right: 40px;
    }
}
.aboutLine2 {
    position: relative;
    gap: 100px;
    margin: 10px 0;
    h2 {
        margin-left: 160px;
    }
    .arc {
        position: absolute;
        width: 80px;
        height: 100px;
        right: 5%;
        top: -5%;
        transform: rotate(-20deg);
    }
}
.aboutLine3 {
    position: relative;
    span {
        position: relative;
    }
    span::after {
        content: '';
        position: absolute;
        background-image: url('../assets/Circle.svg');
        background-repeat: no-repeat;
        display: block;
        width: 560px;
        height: 400px;
        top: -40px;
        left: -10px;
        background-size: 560px;
    }
    .arrowDown1,
    .arrowDown2 {
        position: absolute;
    }
    .arrowDown1 {
        bottom: -20%;
        right: 35%;
    }
    .arrowDown2 {
        right: 100px;
        bottom: -25%;
        right: 29%;
        transform: rotate(15deg);
    }
}
.headshot {
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    right: 6%;
    z-index: -1;
}
.smallDisplay {
    display: none;
}

// Featured work
.featuredWork {
    background-color: $sand;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    text-align: center;
    .wrapper {
        width: 60%; 
    }
    .featureTitle {
        span {
        position: relative;
        }
        span::after {
        content: '';
        position: absolute;
        background-image: url('../assets/Circle.svg');
        background-repeat: no-repeat;
        display: block;
        width: 551px;
        height: 400px;
        top: -40px;
        left: -30px;
        background-size: 550px;
        }
    }
    .tagline {
        padding-top: 80px;
        margin-bottom: 50px;
    }
}

// Featured slideshow
.featuredSlideshow {
    background-color: $babyGreen;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    margin-top: 300px;
    padding-bottom: 100px;
    text-align: center;
    position: relative;
    .slideshowNum,
    .projectSlideshow1,
    .projectSlideshow2,
    .arrowLeft,
    .arrowRight,
    .prev,
    .next {
        position: absolute;
    }
    .slideshowNum {
        top: -330px;
        left: 50%;
    }
    .projectSlideshow1 {
        border-radius: 120px;
        width: 300px;
        height: 400px;
        object-fit: cover;
        z-index: 90;
        transform: rotate(15deg);
        top: -100px;
        left: 50%;
    }
    .projectSlideshow2 {
        height: 500px;
        border-radius: 32px;
        border: 1px solid $darkGreen;
        top: -150px;
        left: 30%;
    }
    .arrowLeft {
        width: 60px;
        top: 20%;
        left: 18%
    }
    .arrowRight {
        width: 70px;
        top: 18%;
        right: 18%;
    }
    .prev,
    .next {
        top: 14%;
    }
    .prev:hover,
    .next:hover {
        cursor: pointer;
    }
    .prev {
        left: 19%
    }
    .next {
        right: 19.5%;
    }
    .featuredDescriptions {
        display: flex;
        justify-content: center;
        ul {
            padding-top: 270px;
            display: grid;
            grid-template-columns: repeat(6, auto);
            gap: 30px;
        }
        ul.shortSkillList{
            grid-template-columns: repeat(3, auto);
        }
    }
    p {
        margin-top: 40px;
        span {
            position: relative;
        }
        span::after {
        content: '';
        position: absolute;
        background-image: url('../assets/Circle.svg');
        background-repeat: no-repeat;
        display: block;
        width: 200px;
        height: 120px;
        top: -15px;
        left: -40px;
        background-size: 160px;
        }
    }
}