@import '../layout/header';
@import '../layout/footer';

// Title landing
header.home {
    height: 100vh;
    h1 {
    margin-top: 25vh;
    }
    .purpleCircle,
    .yellowCircle {
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    }
    .purpleCircle {
    background-color: $babyLilac;
    height: 350px;
    width: 350px;
    top: -190px;
    right: 100px;
    }
    .yellowCircle {
    background-color: $happyYellow;
    height: 1000px;
    width: 1000px;
    top: 100px;
    left: -200px;
    }
    .arrowDown {
    position: absolute;
    height: 70px;
    right: 15%;
    bottom: 5%;
    }
}

// About blurb
.aboutBlurb {
    margin-top: 30%;
    margin-bottom: 18%;
}
.aboutLine1, .aboutLine2 {
    display: grid;
}
.aboutLine1 {
    grid-template-columns: 3fr 1.75fr;
    span {
        position: relative;
    }
    span::after {
        content: '';
        position: absolute;
        background-image: url('../assets/Circle.svg');
        background-repeat: no-repeat;
        display: block;
        width: 200px;
        height: 400px;
        top: -15px;
        left: -35px;
        background-size: 160px;
    }
    p:last-of-type {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: right;
        margin-right: 40px;
    }
}
.aboutLine2 {
    position: relative;
    gap: 100px;
    margin: 10px 0;
    h2 {
        margin-left: 160px;
    }
    .arc {
        position: absolute;
        width: 80px;
        height: 100px;
        right: 5%;
        top: -5%;
        transform: rotate(-20deg);
    }
}
.aboutLine3 {
    position: relative;
    span {
        position: relative;
    }
    span::after {
        content: '';
        position: absolute;
        background-image: url('../assets/Circle.svg');
        background-repeat: no-repeat;
        display: block;
        width: 560px;
        height: 400px;
        top: -40px;
        left: -10px;
        background-size: 560px;
    }
    .arrowDown1,
    .arrowDown2 {
        position: absolute;
    }
    .arrowDown1 {
        bottom: -20%;
        right: 35%;
    }
    .arrowDown2 {
        right: 100px;
        bottom: -25%;
        right: 29%;
        transform: rotate(15deg);
    }
}
.headshot {
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    right: 6%;
    z-index: -1;
}
.smallDisplay {
    display: none;
}

// Featured work
.featuredWork {
    background-color: $sand;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    text-align: center;
    .wrapper {
        width: 60%; 
    }
    .featureTitle {
        span {
        position: relative;
        }
        span::after {
        content: '';
        position: absolute;
        background-image: url('../assets/Circle.svg');
        background-repeat: no-repeat;
        display: block;
        width: 551px;
        height: 400px;
        top: -40px;
        left: -30px;
        background-size: 550px;
        }
    }
    .tagline {
        padding-top: 80px;
        margin-bottom: 50px;
    }
}

// Featured slideshow
.featuredSlideshow {
    background-color: $babyGreen;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    margin-top: 300px;
    padding-bottom: 100px;
    text-align: center;
    position: relative;
    .slideshowNum,
    .projectSlideshow1,
    .projectSlideshow2,
    .arrowLeft,
    .arrowRight,
    .prev,
    .next {
        position: absolute;
    }
    .slideshowNum {
        top: -330px;
        left: 50%;
    }
    .projectSlideshow1 {
        border-radius: 120px;
        width: 300px;
        height: 400px;
        object-fit: cover;
        z-index: 90;
        transform: rotate(15deg);
        top: -100px;
        left: 50%;
    }
    .projectSlideshow2 {
        height: 500px;
        border-radius: 32px;
        border: 1px solid $darkGreen;
        top: -150px;
        left: 30%;
    }
    .arrowLeft {
        width: 60px;
        top: 20%;
        left: 18%
    }
    .arrowRight {
        width: 70px;
        top: 18%;
        right: 18%;
    }
    .prev,
    .next {
        top: 14%;
    }
    .prev:hover,
    .next:hover {
        cursor: pointer;
    }
    .prev {
        left: 19%
    }
    .next {
        right: 19.5%;
    }
    .featuredDescriptions {
        display: flex;
        justify-content: center;
        ul {
            padding-top: 270px;
            display: grid;
            grid-template-columns: repeat(6, auto);
            gap: 30px;
        }
        ul.shortSkillList{
            grid-template-columns: repeat(3, auto);
        }
    }
    p {
        margin-top: 40px;
        span {
            position: relative;
        }
        span::after {
        content: '';
        position: absolute;
        background-image: url('../assets/Circle.svg');
        background-repeat: no-repeat;
        display: block;
        width: 200px;
        height: 120px;
        top: -15px;
        left: -40px;
        background-size: 160px;
        }
    }
}

// Media queries
@media (max-width: 1280px) {
    .headshot {
        right: -10%;
    }
    footer h2 {
        width: 70%;
    }
}

@media (max-width: 1090px) {
    h1 {
        font-size: 15rem;
    }
    h2 {
        font-size: 9rem;
    }
    header.home {
        .yellowCircle {
            height: 700px;
            width: 700px;
            left: -100px;
        }
        .arrowDown {
        right: 10%;
        }
    }
    .featuredSlideshow {
        .next {
            right: 13%;
        }
        .arrowRight {
            right: 11%;
        }
        .projectSlideshow2 {
            height: 400px;
        }
    }
    .aboutLine3 {
        span::after {
        background-size: 450px;
        left: -20px;
        }
    }
}

@media (max-width: 940px) {
    header.home {
        .arrowDown {
        right: 6%;
        bottom: 10%;
        width: 50px;
        }
    }
    h2 {
        font-size: 8rem;
    }
    .aboutLine1 {
        grid-template-columns: 3fr 2.5fr;
    }
    .aboutLine3 {
        .arrowDown1,
        .arrowDown2 {
        width: 50px;
        }
    }
    .featuredSlideshow {
        .projectSlideshow1 {
            width: 250px;
            height: 350px;
        }
        .projectSlideshow2 {
            height: 350px;
            width: auto;
        }
        .featuredDescriptions {
            ul {
                padding-top: 150px;
            }
        }
    }
    .featuredWork .featureTitle span::after {
        background-size: 450px;
        left: -40px;
    }
    footer span::after {
        background-size: 260px;
        top: -12px;
        left: -30px;
    }
}

@media (max-width: 880px) {
    // Homepage
    .largeDisplay {
        display: none;
    }
    .smallDisplay {
        display: block;
        width: 60%;
        margin-bottom: 50px;
    }
    .aboutLine3 {
        display: flex;
        flex-direction: column;
        h2 {
        margin-bottom: 50px;
        }
        p:nth-of-type(2) {
            text-align: right;
            margin-right: 200px;
        }
        a > span:after {
            background-size: 150px;
            width: 200px;
            height: 50px;
            top: -15px;
            left: -35px;
        }
        .headshot {
            top: 18%;
            right: -6%;
        }
    }
    .featuredWork {
        border-top-left-radius: 40%;
        border-top-right-radius: 40%;
    }
    .featuredSlideshow {
        padding-top: 0;
        .projectSlideshow1 {
            width: 250px;
            height: 350px;
        }
    }
}

@media (max-width: 768px) {
    header.home {
        height: 70vh;
    }
    .headerNav {
        h4 {
            margin-left: 50px;
        }
        .fa-grip-lines {
            margin-right: 50px;
        }
    }
    h1 {
        font-size: 12rem;
    }
    header.home .yellowCircle {
        height: 600px;
        width: 600px;
    }
    h2 {
        font-size: 7rem;
    }
    .aboutLine3 {
        .headshot {
            top: 35%;
            width: 160px;
            height: auto;
        }
        span::after {
            background-size: 370px;
            left: -10px;
            top: -30px;
        }
    }
    .featuredWork {
        border-top-left-radius: 30%;
        border-top-right-radius: 30%;
        .featureTitle span::after {
            background-size: 350px;
            left: -10px;
            top: -30px;
            width: 351px;
            height: 200px;
        }
    }
    .featuredSlideshow {
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
        .projectSlideshow1 {
            width: 200px;
            height: 300px;
        }
        .projectSlideshow2 {
            height: 300px;
            left: 20%;
        }
        .arrowLeft {
            left: 5%;
        }
        .prev {
            left: 6%;
        }
        .arrowRight {
            right: 5%;
        }
        .next {
            right: 7%;
        }
    }
    footer span::after {
        background-size: 220px;
    }
}

@media (max-width: 620px) {
    header.home {
        .yellowCircle {
            height: 500px;
            width: 500px;
        }
        .purpleCircle {
            height: 250px;
            width: 250px;
            top: -150px;
        }
        .arrowDown {
            bottom: 30%;
        }
    }
    h1 {
        font-size: 10rem;
    }
    h2 {
        font-size: 6rem;
    }
    .aboutLine2 h2 {
        margin-left: 100px;
    }
    .aboutLine3 {
        .arrowDown1 {
            bottom: 20px;
            left: 10px;
        }
        .arrowDown2 {
            bottom: 0;
            left: 60px;
        }
        span::after {
            background-size: 300px;
            left: -10px;
            top: -20px;
        }
    }
    .featuredSlideshow {
        .projectSlideshow1 {
            left: 45%;
        }
        .projectSlideshow2 {
            left: 20%;
        }
    }
    footer {
        span::after {
            background-size: 200px;
        }
        .footerNav ul {
            gap: 10px;
        }
    }
}

@media (max-width: 540px) {
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 5rem;
    }
    .aboutLine3 {
        span::after {
            background-size: 250px;
        }
    }
    .featuredWork {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        .featureTitle span::after {
            background-size: 250px;
            top: -20px;
        }
    }
    .featuredSlideshow {
        .projectSlideshow1 {
            left: 40%;
        }
        .projectSlideshow2 {
            height: 250px;
        }
    }
    footer {
        .smallDisplayEmail {
            display: inherit;
        }
        .largeDisplayEmail {
            display: none;
        }
        span::after {
            background-size: 170px;
        }
    }
}

@media (max-width: 450px) {
    .aboutLine3 {
        .arrowDown1 {
            bottom: -10px;
        }
        .arrowDown2 {
            bottom: -30px;
        }
        .featuredSlideshow {
            .projectSlideshow1 {
                width: 150px;
                height: 250px;
            }
        }
        footer h2 {
            padding-top: 50px;
            padding-bottom: 100px;
        }
    }
}

@media (max-width: 415px) {
    // Homepage
    .headerNav {
        h4 {
        margin-left: 20px;
        }
        .fa-grip-lines {
        margin-right: 20px;
        }
    }
    h1 {
    font-size: 6.3rem;
    }
    header.home {
        .yellowCircle {
            height: 400px;
            width: 400px;
        }
        .purpleCircle {
            right: 0;
        }
    }
    h2 {
        font-size: 3.9rem;
    }
    .aboutLine2 {
        h2 {
            margin-left: 50px;
        }
    }
    .aboutLine3 {
        .headshot {
            width: 130px;
        }
        span::after {
            background-size: 220px;
        }
        .arrowDown1 {
            bottom: -30px;
        }
        .arrowDown2 {
            bottom: -50px;
        }
    }
    .smallDisplay {
        width: 55%;
    }
    .featuredWork {
        .featureTitle span::after {
            background-size: 200px;
            top: -15px;
        }
    }
    .featuredSlideshow {
        margin-top: 250px;
        .slideshowNum {
            left: 45%;
        }
        .projectSlideshow1 {
            width: 150px;
            height: 250px;
        }
        .featuredDescriptions ul {
            gap: 10px;
        }
    }
    footer {
        h2 {
            padding-top: 50px;
            padding-bottom: 100px;
        }
        span::after {
            background-size: 130px;
            left: -20px;
            top: -10px;
        }
        .footerNav ul {
            gap: 7px;
        }
    }
}