h1, h2 {
    padding-bottom: 40px;
}

h2 {
    padding-bottom: 20px;
}

section {
    p {
        padding-bottom: 20px;
    }
    ul {
        display: flex;
        li {
        padding-right: 15px;
        }
    }
}

p {
    padding-bottom: 10px;
}

// Media queries

@media (max-width: 1100px) {
    h1 {
        @include fontStyle(15rem, -9px, 113px)
    }
}

@media (max-width: 805px) {
    h1 {
        @include fontStyle(10rem, -9px, 76px)
    }
    h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 510px) {
    h1 {
        @include fontStyle(8.8rem, -9px, 67px)
    }
}