html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body, h1, h2, h3, h4, p, nav, ul, li, button {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4f6e6c;
}

footer a:hover {
  color: white;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #EEEBE5;
}

h1, h2, h3, h4, p {
  color: #4f6e6c;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  border: 1px solid black;
}

.skipLink .skipLink:focus {
  left: 0;
}

@font-face {
  font-family: 'Doppelganger';
  src: url("../assets/DoppelgangerDisplay.otf");
}

h1, h2, h3, h4 {
  font-family: 'Doppelganger', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: 18rem;
  line-height: 0.85;
}

h2 {
  font-size: 11rem;
}

h3 {
  font-size: 6.4rem;
}

h4 {
  font-size: 3.4rem;
}

p, .tagline {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1.6rem;
}

.tagline {
  font-size: 1.4rem;
  line-height: 20px;
  text-transform: uppercase;
}

.headerNav ul {
  width: 100%;
  height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr (1fr)[4];
      grid-template-columns: 5fr repeat(4, 1fr);
  border-bottom: 1px solid #4f6e6c;
}

.headerNav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.headerNav h4 {
  margin-left: 100px;
}

.fa-grip-lines {
  color: #4f6e6c;
  font-size: 2.5rem;
  margin-right: 100px;
}

.modal {
  display: none;
}

.visible {
  background: #EEEBE5;
  display: block;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}

.visible .closeModal {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px 100px;
}

.visible .closeModal::before {
  content: '';
  position: absolute;
  background-image: url("../assets/Circle.svg");
  background-repeat: no-repeat;
  display: block;
  width: 201px;
  height: 201px;
  top: -15px;
  left: -50px;
  background-size: 150px;
}

.visible ul {
  margin: 50px 0 0 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}

.visible ul li:nth-child(2) {
  margin-left: 100px;
}

.visible ul li:nth-child(3) {
  margin-left: 200px;
}

.visible ul li:nth-child(4) {
  margin-left: 300px;
}

.visible h2 {
  position: relative;
}

.visible li:first-of-type::before,
.visible li:last-of-type::after,
.visible li:nth-of-type(3)::after {
  content: '';
  position: absolute;
  border-radius: 100%;
  z-index: -1;
}

.visible li:first-of-type::before {
  height: 300px;
  width: 300px;
  background-color: #DAE7D9;
  top: -30%;
  left: -5%;
}

.visible li:nth-of-type(3)::after {
  height: 500px;
  width: 500px;
  background-color: #D8BBB6;
  top: -30%;
  right: -5%;
}

.visible li:last-of-type::after {
  height: 400px;
  width: 400px;
  background-color: #F1E3FF;
  bottom: 0;
  left: 10%;
}

.headerNav .smallDisplay {
  display: none;
}

@media (max-width: 940px) {
  .visible ul li:last-of-type::after {
    bottom: 20%;
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 768px) {
  .headerNav .largeDisplay {
    display: none;
  }
  .headerNav .smallDisplay {
    display: block;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin: auto 0;
    text-align: right;
  }
  .headerNav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .visible ul li:nth-of-type(3)::after {
    right: -25%;
  }
  .visible ul li:last-of-type::after {
    bottom: 30%;
    left: -30%;
  }
}

@media (max-width: 620px) {
  .visible ul li:nth-child(2) {
    margin-left: 50px;
  }
  .visible ul li:nth-child(3) {
    margin-left: 150px;
  }
  .visible ul li:nth-child(4) {
    margin-left: 200px;
  }
}

@media (max-width: 540px) {
  .visible h2 {
    font-size: 6rem;
  }
  .visible ul {
    margin-top: 100px;
  }
  .visible ul li:nth-child(2),
  .visible ul li:nth-child(3),
  .visible ul li:nth-child(4) {
    margin-left: 0;
  }
  .visible ul li:nth-of-type(3)::after {
    top: 0;
    right: -55%;
  }
}

@media (max-width: 450px) {
  .visible ul li:first-of-type::before {
    left: -35%;
  }
  .visible ul li:nth-of-type(3)::after {
    right: -90%;
  }
  .visible ul li:last-of-type::after {
    left: -60%;
  }
}

footer {
  background-color: #FDC87E;
  padding-top: 100px;
  text-align: center;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer h2 {
  padding-top: 100px;
  padding-bottom: 150px;
  max-width: 800px;
  width: 50%;
}

footer span {
  position: relative;
}

footer span::after {
  content: '';
  position: absolute;
  background-image: url("../assets/Circle White.svg");
  background-repeat: no-repeat;
  display: block;
  width: 400px;
  height: 120px;
  top: -20px;
  left: -40px;
  background-size: 330px;
}

footer .footerNav {
  border-top: 1px solid #4f6e6c;
}

footer .footerNav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4] 9fr;
      grid-template-columns: repeat(4, auto) 9fr;
  gap: 25px;
  padding: 20px 0 25px 0;
}

footer .footerNav li {
  text-align: left;
}

footer .footerNav li:last-of-type {
  text-align: right;
}

footer .smallDisplayEmail {
  display: none;
}

header.home {
  height: 100vh;
}

header.home h1 {
  margin-top: 25vh;
}

header.home .purpleCircle,
header.home .yellowCircle {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

header.home .purpleCircle {
  background-color: #F1E3FF;
  height: 350px;
  width: 350px;
  top: -190px;
  right: 100px;
}

header.home .yellowCircle {
  background-color: #FDC87E;
  height: 1000px;
  width: 1000px;
  top: 100px;
  left: -200px;
}

header.home .arrowDown {
  position: absolute;
  height: 70px;
  right: 15%;
  bottom: 5%;
}

.aboutBlurb {
  margin-top: 30%;
  margin-bottom: 18%;
}

.aboutLine1, .aboutLine2 {
  display: -ms-grid;
  display: grid;
}

.aboutLine1 {
  -ms-grid-columns: 3fr 1.75fr;
      grid-template-columns: 3fr 1.75fr;
}

.aboutLine1 span {
  position: relative;
}

.aboutLine1 span.readMore::after {
  position: absolute;
  content: '';
  background-color: #FDC87E;
  height: 2px;
  width: 50px;
  bottom: -8px;
  left: calc(50% - 25px);
  display: block;
}

.aboutLine1 p:last-of-type {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  text-align: right;
  margin-right: 40px;
}

.aboutLine2 {
  position: relative;
  gap: 100px;
  margin: 10px 0;
}

.aboutLine2 h2 {
  margin-left: 160px;
}

.aboutLine2 .arc {
  position: absolute;
  width: 80px;
  height: 100px;
  right: 5%;
  top: -5%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.aboutLine3 {
  position: relative;
}

.aboutLine3 span {
  position: relative;
}

.aboutLine3 span.developer::after {
  content: '';
  position: absolute;
  background-image: url("../assets/Circle.svg");
  background-repeat: no-repeat;
  display: block;
  width: 560px;
  height: 400px;
  top: -40px;
  left: -10px;
  background-size: 560px;
}

.aboutLine3 .arrowDown1,
.aboutLine3 .arrowDown2 {
  position: absolute;
}

.aboutLine3 .arrowDown1 {
  bottom: -20%;
  right: 35%;
}

.aboutLine3 .arrowDown2 {
  right: 100px;
  bottom: -25%;
  right: 29%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.headshot {
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  right: 6%;
  z-index: -1;
}

.smallDisplay {
  display: none;
}

.featuredWork {
  background-color: #F3E0D6;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  text-align: center;
}

.featuredWork .wrapper {
  width: 60%;
}

.featuredWork .featureTitle span {
  position: relative;
}

.featuredWork .featureTitle span::after {
  content: '';
  position: absolute;
  background-image: url("../assets/Circle.svg");
  background-repeat: no-repeat;
  display: block;
  width: 551px;
  height: 400px;
  top: -40px;
  left: -30px;
  background-size: 550px;
}

.featuredWork .tagline {
  padding-top: 80px;
  margin-bottom: 50px;
}

.featuredSlideshow {
  background-color: #DAE7D9;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  margin-top: 300px;
  padding-bottom: 100px;
  text-align: center;
  position: relative;
}

.featuredSlideshow .slideshowNum,
.featuredSlideshow .projectSlideshow1,
.featuredSlideshow .projectSlideshow2,
.featuredSlideshow .arrowLeft,
.featuredSlideshow .arrowRight,
.featuredSlideshow .prev,
.featuredSlideshow .next {
  position: absolute;
}

.featuredSlideshow .slideshowNum {
  top: -330px;
  left: 50%;
}

.featuredSlideshow .projectSlideshow1 {
  border-radius: 120px;
  width: 300px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 90;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  top: -100px;
  left: 50%;
}

.featuredSlideshow .projectSlideshow2 {
  height: 500px;
  border-radius: 32px;
  border: 1px solid #4f6e6c;
  top: -150px;
  left: 30%;
}

.featuredSlideshow .arrowLeft {
  width: 60px;
  top: 20%;
  left: 18%;
}

.featuredSlideshow .arrowRight {
  width: 70px;
  top: 18%;
  right: 18%;
}

.featuredSlideshow .prev,
.featuredSlideshow .next {
  top: 14%;
}

.featuredSlideshow .prev:hover,
.featuredSlideshow .next:hover {
  cursor: pointer;
}

.featuredSlideshow .prev {
  left: 19%;
}

.featuredSlideshow .next {
  right: 19.5%;
}

.featuredSlideshow .featuredDescriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featuredSlideshow .featuredDescriptions ul {
  padding-top: 270px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
  gap: 30px;
}

.featuredSlideshow .featuredDescriptions ul.shortSkillList {
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

.featuredSlideshow .projectDesc {
  width: 50%;
  margin: 0 auto;
}

.featuredSlideshow p:last-child {
  margin-top: 60px;
}

.featuredSlideshow p span {
  position: relative;
}

.featuredSlideshow p span::after {
  content: '';
  position: absolute;
  content: '';
  background-color: #FDC87E;
  height: 2px;
  width: 50px;
  bottom: -8px;
  left: calc(50% - 25px);
  display: block;
}

@media (max-width: 1280px) {
  .headshot {
    right: -10%;
  }
  footer h2 {
    width: 70%;
  }
}

@media (max-width: 1090px) {
  h1 {
    font-size: 15rem;
  }
  h2 {
    font-size: 9rem;
  }
  header.home .yellowCircle {
    height: 700px;
    width: 700px;
    left: -100px;
  }
  header.home .arrowDown {
    right: 10%;
  }
  .featuredSlideshow .next {
    right: 13%;
  }
  .featuredSlideshow .arrowRight {
    right: 11%;
  }
  .featuredSlideshow .projectSlideshow2 {
    height: 400px;
  }
  .aboutLine3 span.developer::after {
    background-size: 450px;
    left: -20px;
  }
}

@media (max-width: 940px) {
  header.home .arrowDown {
    right: 6%;
    bottom: 10%;
    width: 50px;
  }
  h2 {
    font-size: 8rem;
  }
  .aboutLine1 {
    -ms-grid-columns: 3fr 2.5fr;
        grid-template-columns: 3fr 2.5fr;
  }
  .aboutLine3 .arrowDown1,
  .aboutLine3 .arrowDown2 {
    width: 50px;
  }
  .featuredSlideshow .projectSlideshow1 {
    width: 250px;
    height: 350px;
  }
  .featuredSlideshow .projectSlideshow2 {
    height: 350px;
    width: auto;
  }
  .featuredSlideshow .featuredDescriptions ul {
    padding-top: 150px;
  }
  .featuredWork .featureTitle span::after {
    background-size: 450px;
    left: -40px;
  }
  footer span::after {
    background-size: 260px;
    top: -12px;
    left: -30px;
  }
}

@media (max-width: 880px) {
  .largeDisplay {
    display: none;
  }
  .smallDisplay {
    display: block;
    width: 60%;
    margin-bottom: 50px;
  }
  .aboutLine3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutLine3 h2 {
    margin-bottom: 50px;
  }
  .aboutLine3 p:nth-of-type(2) {
    text-align: right;
    margin-right: 200px;
  }
  .aboutLine3 span.readMore::after {
    position: absolute;
    content: '';
    background-color: #FDC87E;
    height: 2px;
    width: 50px;
    bottom: -8px;
    left: calc(50% - 25px);
    display: block;
  }
  .aboutLine3 .headshot {
    top: 18%;
    right: -6%;
  }
  .featuredWork {
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  .featuredSlideshow {
    padding-top: 0;
  }
  .featuredSlideshow .projectSlideshow1 {
    width: 250px;
    height: 350px;
  }
}

@media (max-width: 768px) {
  header.home {
    height: 70vh;
  }
  .headerNav h4 {
    margin-left: 50px;
  }
  .headerNav .fa-grip-lines {
    margin-right: 50px;
  }
  h1 {
    font-size: 12rem;
  }
  header.home .yellowCircle {
    height: 600px;
    width: 600px;
  }
  h2 {
    font-size: 7rem;
  }
  .aboutLine3 .headshot {
    top: 35%;
    width: 160px;
    height: auto;
  }
  .aboutLine3 span.developer::after {
    background-size: 370px;
    left: -10px;
    top: -30px;
  }
  .featuredWork {
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
  }
  .featuredWork .featureTitle span::after {
    background-size: 350px;
    left: -10px;
    top: -30px;
    width: 351px;
    height: 200px;
  }
  .featuredSlideshow {
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
  }
  .featuredSlideshow .projectSlideshow1 {
    width: 200px;
    height: 300px;
  }
  .featuredSlideshow .projectSlideshow2 {
    height: 300px;
    left: 20%;
  }
  .featuredSlideshow .arrowLeft {
    left: 5%;
  }
  .featuredSlideshow .prev {
    left: 6%;
  }
  .featuredSlideshow .arrowRight {
    right: 5%;
  }
  .featuredSlideshow .next {
    right: 7%;
  }
  footer span::after {
    background-size: 220px;
  }
}

@media (max-width: 620px) {
  header.home .yellowCircle {
    height: 500px;
    width: 500px;
  }
  header.home .purpleCircle {
    height: 250px;
    width: 250px;
    top: -150px;
  }
  header.home .arrowDown {
    bottom: 30%;
  }
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 6rem;
  }
  .aboutLine2 h2 {
    margin-left: 100px;
  }
  .aboutLine3 .arrowDown1 {
    bottom: 20px;
    left: 10px;
  }
  .aboutLine3 .arrowDown2 {
    bottom: 0;
    left: 60px;
  }
  .aboutLine3 span.developer::after {
    background-size: 300px;
    left: -10px;
    top: -20px;
  }
  .featuredSlideshow .projectSlideshow1 {
    left: 45%;
  }
  .featuredSlideshow .projectSlideshow2 {
    left: 20%;
  }
  .featuredSlideshow .projectDesc {
    width: 70%;
  }
  footer span::after {
    background-size: 200px;
  }
  footer .footerNav ul {
    gap: 10px;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 5rem;
  }
  .aboutLine3 span.developer::after {
    background-size: 250px;
  }
  .featuredWork {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .featuredWork .featureTitle span::after {
    background-size: 250px;
    top: -20px;
  }
  .featuredSlideshow .projectSlideshow1 {
    left: 40%;
  }
  .featuredSlideshow .projectSlideshow2 {
    height: 250px;
  }
  footer .smallDisplayEmail {
    display: inherit;
  }
  footer .largeDisplayEmail {
    display: none;
  }
  footer span::after {
    background-size: 170px;
  }
}

@media (max-width: 450px) {
  .aboutLine3 .arrowDown1 {
    bottom: -10px;
  }
  .aboutLine3 .arrowDown2 {
    bottom: -30px;
  }
  .aboutLine3 .featuredSlideshow .projectSlideshow1 {
    width: 150px;
    height: 250px;
  }
  .aboutLine3 footer h2 {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

@media (max-width: 415px) {
  .headerNav h4 {
    margin-left: 20px;
  }
  .headerNav .fa-grip-lines {
    margin-right: 20px;
  }
  h1 {
    font-size: 6.3rem;
  }
  header.home .yellowCircle {
    height: 400px;
    width: 400px;
  }
  header.home .purpleCircle {
    right: 0;
  }
  h2 {
    font-size: 3.9rem;
  }
  .aboutLine2 h2 {
    margin-left: 50px;
  }
  .aboutLine3 .headshot {
    width: 130px;
  }
  .aboutLine3 span.developer::after {
    background-size: 220px;
  }
  .aboutLine3 .arrowDown1 {
    bottom: -30px;
  }
  .aboutLine3 .arrowDown2 {
    bottom: -50px;
  }
  .smallDisplay {
    width: 55%;
  }
  .featuredWork .featureTitle span::after {
    background-size: 200px;
    top: -15px;
  }
  .featuredSlideshow {
    margin-top: 250px;
  }
  .featuredSlideshow .slideshowNum {
    left: 45%;
  }
  .featuredSlideshow .projectSlideshow1 {
    width: 150px;
    height: 250px;
  }
  .featuredSlideshow .featuredDescriptions ul {
    gap: 10px;
  }
  footer h2 {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  footer span::after {
    background-size: 130px;
    left: -20px;
    top: -10px;
  }
  footer .footerNav ul {
    gap: 7px;
  }
}

@media (max-width: 365px) {
  .aboutBlurb h2 {
    font-size: 3.3rem;
  }
  .aboutLine3 span.developer::after {
    background-size: 200px;
  }
}

body.about {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0081c6), color-stop(50%, #0077bd));
  background: linear-gradient(90deg, #0081c6 50%, #0077bd 50%);
}

.about .headerNav {
  border-bottom: 1px solid #FDC87E;
}

.about .headerNav a,
.about .headerNav .fa-grip-lines {
  color: #FDC87E;
}

header.about {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 90%;
  background-position-x: center;
}

main.about {
  background-color: #F1E3FF;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  margin-top: -300px;
}

.titleName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 150px;
}

.aboutInfo {
  width: 70%;
  margin: 0 auto;
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 50px;
  position: relative;
}

.aboutInfo img {
  width: 350px;
  border-radius: 150px;
}

.aboutInfo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 60px;
}

.aboutInfo .arrowDown1,
.aboutInfo .arrowDown2 {
  position: absolute;
  width: 50px;
}

.aboutInfo .arrowDown1 {
  top: 10%;
  right: 30%;
}

.aboutInfo .arrowDown2 {
  top: 5%;
  right: 25%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.skillList {
  width: 62%;
  margin: 0 auto;
  text-align: center;
}

.skillList ul {
  margin: 50px 0;
}

.skillList li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1.22fr;
      grid-template-columns: 1fr 1fr 1fr 1.22fr;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  margin: 0 auto;
  gap: 8px;
}

h3:first-of-type {
  text-align: right;
}

.aboutLinks ul {
  width: 50%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 80px 0;
  text-align: center;
  position: relative;
  text-align: left;
}

.aboutLinks .oneLink,
.aboutLinks .twoLink,
.aboutLinks .threeLink,
.aboutLinks .fourLink {
  position: relative;
}

.aboutLinks .oneLink::after,
.aboutLinks .twoLink::after,
.aboutLinks .threeLink::after,
.aboutLinks .fourLink::after {
  position: absolute;
  content: '';
  background-color: #FDC87E;
  height: 2px;
  width: 50px;
  bottom: -10px;
  left: 2px;
  display: block;
}

.aboutLinks .fourLink::after {
  left: 50px;
}

@media (max-width: 1280px) {
  header.about {
    background-position-y: 300%;
  }
  main.about .titleName h2 {
    font-size: 9rem;
  }
  main.about .aboutInfo {
    width: 80%;
  }
  main.about h3 {
    font-size: 5.5rem;
  }
  main.about .aboutLinks ul {
    width: 70%;
  }
}

@media (max-width: 1090px) {
  main.about {
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  main.about .aboutInfo .arrowDown1 {
    top: 0;
  }
  main.about .aboutInfo .arrowDown2 {
    top: -5%;
  }
  main.about .skillList {
    width: 80%;
  }
}

@media (max-width: 940px) {
  header.about {
    height: 70vh;
  }
  main.about .aboutInfo {
    width: 90%;
    -ms-grid-columns: 0.8fr 1fr;
        grid-template-columns: 0.8fr 1fr;
  }
  main.about .aboutInfo .arrowDown1 {
    top: -15%;
    right: 25%;
  }
  main.about .aboutInfo .arrowDown2 {
    top: -20%;
    right: 20%;
  }
  main.about .skillList {
    width: 100%;
  }
  main.about h3 {
    font-size: 4.3rem;
  }
}

@media (max-width: 880px) {
  header.about {
    height: 70vh;
  }
  main.about .aboutInfo .arrowDown1 {
    top: -30%;
    right: 5%;
  }
  main.about .aboutInfo .arrowDown2 {
    top: -40%;
    right: 0;
  }
  main.about h3 {
    width: 100%;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  main.about {
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
  }
  main.about .aboutInfo {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr auto;
        grid-template-rows: 2fr auto;
  }
  main.about .aboutInfo .arrowDown1 {
    top: -10%;
  }
  main.about .aboutInfo .arrowDown2 {
    top: -15%;
  }
  main.about .aboutInfo img {
    margin: 0 auto;
  }
  main.about .aboutInfo p {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 0;
  }
  main.about .aboutInfo h3 {
    font-size: 3.5rem;
  }
  main.about .aboutLinks p.fourLink {
    text-align: center;
  }
  main.about .aboutLinks ul {
    padding-top: 60px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
  }
  main.about .aboutLinks ul li {
    padding: 20px;
    text-align: center;
  }
  main.about .aboutLinks .oneLink::after,
  main.about .aboutLinks .twoLink::after,
  main.about .aboutLinks .threeLink::after,
  main.about .aboutLinks .fourLink::after {
    left: calc(50% - 25px);
  }
}

@media (max-width: 620px) {
  .titleName {
    padding-top: 100px;
  }
  .aboutInfo img {
    width: 300px;
  }
}

@media (max-width: 540px) {
  header.about {
    height: 80vh;
  }
  main.about {
    margin-top: -500px;
  }
  main.about .titleName h2 {
    font-size: 8rem;
  }
  .skillList li {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  main.about h3 {
    font-size: 4rem;
  }
  main.about .aboutLinks ul {
    padding-top: 40px;
  }
}

@media (max-width: 415px) {
  main.about .titleName h2 {
    font-size: 6.5rem;
  }
  main.about .aboutInfo .arrowDown1 {
    top: -5%;
  }
  main.about .aboutInfo .arrowDown2 {
    top: -8%;
  }
  main.about h3 {
    font-size: 3.8rem;
  }
}

body.projects {
  background-color: #F3E0D6;
}

.projectIntro {
  width: 70%;
  margin-top: 70px;
  text-align: center;
  position: relative;
  margin-bottom: 500px;
}

.projectIntro h2 {
  font-size: 11rem;
}

.projectIntro img {
  border-radius: 100%;
  width: 700px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 5%;
  left: calc(50% - 350px);
}

.tasteMakerBackground {
  background-image: url("https://images.unsplash.com/photo-1524678606370-a47ad25cb82a?auto=format&fit=crop&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&q=80&w=1169");
  background-position: top;
  margin-top: 80px;
}

.weatherScoutBackground {
  background-image: url("https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: bottom;
  margin-top: -200px;
}

.deliciousBackground {
  background-image: url("https://deliciousdesign.netlify.app/assets/home-1.jpeg");
  margin-top: -200px;
}

.tasteMakerBackground,
.weatherScoutBackground,
.deliciousBackground {
  background-size: cover;
  height: 800px;
  border-radius: 100px;
}

.tasteMakerInfo {
  background-color: #F1E3FF;
}

.tasteMakerInfo ul.tagline {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  width: 50%;
}

.weatherScoutInfo {
  background-color: #DAE7D9;
}

.weatherScoutInfo ul.tagline {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  width: 40%;
}

.deliciousInfo {
  background-color: #F3E0D6;
}

.deliciousInfo ul.tagline {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 30%;
}

.tasteMakerInfo,
.weatherScoutInfo,
.deliciousInfo {
  height: 950px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  margin-top: -550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasteMakerInfo ul.tagline,
.weatherScoutInfo ul.tagline,
.deliciousInfo ul.tagline {
  padding-top: 120px;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.tasteMakerInfo div,
.weatherScoutInfo div,
.deliciousInfo div {
  position: relative;
}

.tasteMakerInfo div p,
.weatherScoutInfo div p,
.deliciousInfo div p {
  position: absolute;
  top: 54px;
  left: -80px;
}

.tasteMakerInfo h2,
.weatherScoutInfo h2,
.deliciousInfo h2 {
  margin: 50px 0 30px 0;
}

.tasteMakerInfo p:nth-child(3),
.weatherScoutInfo p:nth-child(3),
.deliciousInfo p:nth-child(3) {
  width: 30%;
  text-align: center;
}

.tasteMakerInfo ul:nth-of-type(2),
.weatherScoutInfo ul:nth-of-type(2),
.deliciousInfo ul:nth-of-type(2) {
  margin: 50px 0;
}

.tasteMakerInfo ul:nth-of-type(3),
.weatherScoutInfo ul:nth-of-type(3),
.deliciousInfo ul:nth-of-type(3) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 150px;
  margin: 50px 0;
}

.tasteMakerInfo ul:nth-of-type(3) p,
.weatherScoutInfo ul:nth-of-type(3) p,
.deliciousInfo ul:nth-of-type(3) p {
  position: relative;
}

.tasteMakerInfo ul:nth-of-type(3) .linkOne::after,
.tasteMakerInfo ul:nth-of-type(3) .linkTwo::after,
.weatherScoutInfo ul:nth-of-type(3) .linkOne::after,
.weatherScoutInfo ul:nth-of-type(3) .linkTwo::after,
.deliciousInfo ul:nth-of-type(3) .linkOne::after,
.deliciousInfo ul:nth-of-type(3) .linkTwo::after {
  position: absolute;
  content: '';
  background-color: #FDC87E;
  height: 2px;
  width: 50px;
  bottom: -10px;
  left: 2px;
  display: block;
}

footer.projects {
  margin-top: -200px;
}

@media (max-width: 1280px) {
  main.projects h2 {
    font-size: 9rem;
  }
  main.projects .projectIntro img {
    top: 0;
    height: 600px;
    left: calc(50% - 300px);
  }
  main.projects > section {
    margin-top: -650px;
  }
  main.projects .weatherScoutBackground,
  main.projects .deliciousBackground {
    margin-top: -250px;
  }
  main.projects .deliciousBackground {
    background-size: contain;
  }
  footer.projects {
    margin-top: -250px;
  }
}

@media (max-width: 1090px) {
  main.projects .projectIntro {
    width: 80%;
  }
  main.projects .projectIntro h2 {
    font-size: 8rem;
  }
  main.projects .tasteMakerInfo p:nth-child(3),
  main.projects .weatherScoutInfo p:nth-child(3),
  main.projects .deliciousInfo p:nth-child(3) {
    width: 60%;
  }
  main.projects .tasteMakerInfo div p,
  main.projects .weatherScoutInfo div p,
  main.projects .deliciousInfo div p {
    left: -30px;
  }
}

@media (max-width: 940px) {
  main.projects .projectIntro {
    width: 90%;
  }
  main.projects .projectIntro img {
    width: 500px;
    left: calc(50% - 250px);
  }
  main.projects .projectIntro :nth-child(3) {
    margin-top: 300px;
  }
}

@media (max-width: 880px) {
  main.projects .projectIntro h2 {
    font-size: 7rem;
  }
  main.projects .tasteMakerInfo,
  main.projects .weatherScoutInfo,
  main.projects .deliciousInfo {
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
  }
}

@media (max-width: 768px) {
  main.projects ul.tagline {
    width: 80%;
  }
  .tasteMakerInfo ul:nth-of-type(2),
  .weatherScoutInfo ul:nth-of-type(2),
  .deliciousInfo ul:nth-of-type(2) {
    width: 80%;
  }
  .tasteMakerInfo ul:nth-of-type(3),
  .weatherScoutInfo ul:nth-of-type(3),
  .deliciousInfo ul:nth-of-type(3) {
    margin: 0;
  }
}

@media (max-width: 620px) {
  main.projects h2 {
    font-size: 5rem;
  }
  main.projects .deliciousBackground {
    margin-top: -300px;
  }
  main.projects .projectIntro {
    margin-bottom: 400px;
  }
  main.projects .projectIntro h2 {
    font-size: 5rem;
  }
  main.projects .projectIntro img {
    width: 400px;
    height: 500px;
    left: calc(50% - 200px);
    top: -50px;
  }
  main.projects .projectIntro :nth-child(3) {
    margin-top: 200px;
  }
  main.projects .tasteMakerInfo ul.tagline {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  footer.projects {
    margin-top: -300px;
  }
}

@media (max-width: 540px) {
  main.projects .projectIntro {
    width: 90%;
  }
  main.projects .projectIntro :nth-child(3) {
    margin-top: 260px;
  }
  main.projects .weatherScoutBackground {
    margin-top: -200px;
  }
  .tasteMakerInfo ul:nth-of-type(2) li,
  .weatherScoutInfo ul:nth-of-type(2) li,
  .deliciousInfo ul:nth-of-type(2) li {
    margin: 10px 0;
  }
}

@media (max-width: 450px) {
  main.projects .projectIntro img {
    width: 350px;
    left: calc(50% - 175px);
    height: 450px;
    top: 0;
  }
}

@media (max-width: 415px) {
  main.projects .projectIntro {
    margin-bottom: 320px;
  }
  main.projects .projectIntro img {
    width: 300px;
    height: 400px;
    left: calc(50% - 150px);
    top: 40px;
  }
  main.projects .projectIntro :nth-child(3) {
    margin-top: 170px;
  }
  main.projects .tasteMakerInfo,
  main.projects .weatherScoutInfo,
  main.projects .deliciousInfo {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }
  main.projects .weatherScoutInfo ul.tagline {
    width: 90%;
  }
  main.projects .weatherScoutInfo h2 {
    font-size: 4.3rem;
  }
  main.projects .weatherScoutInfo div p {
    left: -20px;
  }
  main.projects .weatherScoutBackground {
    margin-top: -150px;
  }
  main.projects .deliciousBackground {
    margin-top: -280px;
  }
  footer.projects {
    margin-top: -250px;
  }
}

.contact {
  background-color: #F3E0D6;
}

main.contact > h2 {
  margin: 100px 0 0 100px;
}

main.contact div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

main.contact div p {
  margin-top: 15px;
}

main.contact h3.email {
  margin-top: 50px;
  text-align: center;
  position: relative;
}

main.contact h3.email::before,
main.contact h3.email::after {
  content: '';
  position: absolute;
  display: block;
}

main.contact h3.email::before {
  background-image: url("../assets/ArrowPointRight.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  top: -50px;
  left: 80px;
  background-size: 80px;
  -webkit-transform: scaleX(-1) rotate(90deg);
          transform: scaleX(-1) rotate(90deg);
}

main.contact h3.email::after {
  background-color: #FDC87E;
  height: 2px;
  width: 60%;
  bottom: 0;
  left: 20%;
}

main.contact ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
}

main.contact ul li {
  position: relative;
}

main.contact ul .oneLink::after,
main.contact ul .twoLink::after,
main.contact ul .threeLink::after,
main.contact ul .fourLink::after {
  position: absolute;
  content: '';
  background-color: #FDC87E;
  height: 2px;
  width: 50px;
  bottom: -5px;
  left: calc(50% - 25px);
  display: block;
}

@media (max-width: 1280px) {
  main.contact h2 {
    font-size: 10rem;
  }
  main.contact h3.email::before {
    left: 0;
  }
  main.contact ul {
    width: 80%;
  }
}

@media (max-width: 1090px) {
  main.contact h2 {
    font-size: 8rem;
  }
  main.contact div {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  main.contact h3.email::before {
    width: 50px;
    height: 50px;
    background-size: 50px;
    top: -30px;
    left: -30px;
  }
}

@media (max-width: 940px) {
  main.contact .largeDisplay {
    display: none;
  }
  main.contact .smallDisplay {
    display: block;
    width: 100%;
  }
  main.contact > h2 {
    margin: 100px 0 0 0;
  }
  main.contact h3.email::before {
    left: -50px;
  }
  main.contact ul {
    width: 100%;
  }
  main.contact p.smallDisplay {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }
}

@media (max-width: 880px) {
  main.contact h3 {
    font-size: 5rem;
  }
  main.contact h3.email::before {
    left: 0;
  }
}

@media (max-width: 768px) {
  main.contact h2 {
    font-size: 6rem;
  }
  main.contact h3 {
    font-size: 4rem;
  }
  main.contact h3.email::before {
    left: -5px;
  }
  main.contact h3.email::after {
    bottom: 0;
    left: 10%;
  }
  main.contact p.smallDisplay {
    width: 80%;
    margin-top: 50px;
  }
  main.contact ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 0;
  }
  main.contact ul li {
    text-align: center;
  }
}

@media (max-width: 620px) {
  main.contact h3.email::before {
    left: -40px;
  }
}

@media (max-width: 540px) {
  main.contact h3 {
    font-size: 3.5rem;
  }
  main.contact p.smallDisplay {
    width: 100%;
  }
}

@media (max-width: 450px) {
  main.contact > h2 {
    margin-top: 70px;
  }
  main.contact h3 {
    font-size: 3rem;
  }
  main.contact ul {
    margin-top: 60px;
  }
}

@media (max-width: 415px) {
  main.contact h2 {
    font-size: 5rem;
  }
  main.contact h3.email::before {
    left: -40px;
  }
  main.contact h3 {
    font-size: 2.5rem;
  }
  main.contact ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 30px;
  }
}
